@page
@model projet.Pages.Classes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Classe[0].Groupe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classe[0].filiere)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Classe) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Groupe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.filiere.IdF)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdC">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IdC">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdC">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
