@page
@model projet.Pages.Matieres.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Matiere[0].Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matiere[0].Professeur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matiere[0].Classe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matiere[0].Filiere)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Matiere) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Professeur.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classe.IdC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Filiere.IdF)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdM">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IdM">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdM">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
