@page
@model projet.Pages.Seances.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Seance</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seance.H_debut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seance.H_debut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seance.H_fin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seance.H_fin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seance.date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seance.date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seance.Matiere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seance.Matiere.IdM)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Seance.IdS">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
